{% extends 'teacher.html' %}

{% block content %}
  <div class="basis-80 w-full p-4 rounded bg-white grow overflow-auto flex flex-col gap-1">
    <table class="w-full">
      <caption class="capitalize text-slate-500 font-semibold mb-4 text-left">history</caption>
      <thead class="">
        <tr class="capitalize text-xs text-left text-slate-500">
          <th class="border p-2 px-4 uppercase">id</th>
          <th class="border p-2 px-4">status</th>
          <th class="border p-2 px-4">course</th>
          <th class="border p-2 px-4">date and time</th>
        </tr>
      </thead>
      <tbody class="text-xs">
        {% for attendance in attendances %}
          <tr class="">
            <td class="border p-3">{{ forloop.counter }}</td>
            <td class="border p-3">{{ attendance.status|yesno:'present,absent' }}</td>
            <td class="border p-3 uppercase">{{ attendance.timetable.course.name }}</td>
            <td class="border p-3">{{ attendance.updated_at|date:'D, d M, Y ~ h:i A' }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
